table{
    border-collapse: collapse;
    border: 2px solid black;
    width: 50%;
}
tr th{
    text-align: left;
}
th,td{
    padding: 1%;
}

tr:nth-child(even){
    background-color: gray;
    color: white;
}